name: Playwright Tests - SaaSBuilder
permissions:
  contents: read
  actions: write

on:
  pull_request:
    branches:
      - master
    types: [opened, synchronize, reopened]
  workflow_dispatch:
    inputs:
      reason:
        description: "Reason for running tests"
        required: false
        default: "Manual trigger"

jobs:
  test:
    name: Playwright Tests - SaaSBuilder
    if: github.event.pull_request.draft == false
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm install -g yarn && yarn

      - name: Install Playwright Browsers
        run: yarn playwright install --with-deps

      - name: Setup and start saasbuilder server
        run: |
          yarn build
          yarn start & sleep 15
        env:
          PROVIDER_EMAIL: ${{ secrets.PROVIDER_EMAIL }}
          PROVIDER_PASSWORD: ${{ secrets.PROVIDER_PASSWORD }}
          NEXT_PUBLIC_BACKEND_BASE_DOMAIN: https://api.omnistrate.dev
          ENVIRONMENT_TYPE: DEV
          MAIL_USER_EMAIL: ${{ secrets.MAIL_USER_EMAIL }}
          MAIL_USER_PASSWORD: ${{ secrets.MAIL_USER_PASSWORD }}

      - name: Run Playwright tests
        run: yarn playwright test
        env:
          YOUR_SAAS_DOMAIN_URL: http://localhost:8080
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
          AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
          GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
          GCP_PROJECT_NUMBER: ${{ secrets.GCP_PROJECT_NUMBER }}
          BYOA_AWS_ACCOUNT_ID: ${{ secrets.BYOA_AWS_ACCOUNT_ID }}

          NEXT_PUBLIC_BACKEND_BASE_DOMAIN: "https://api.omnistrate.dev"
          ENVIRONMENT_TYPE: DEV
          PROVIDER_EMAIL: ${{ secrets.PROVIDER_EMAIL }}
          PROVIDER_PASSWORD: ${{ secrets.PROVIDER_PASSWORD }}

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
